body{
    font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
}
/* <!-- This is hearder section --> */
nav ul li{
    list-style: none;
}
nav{
    margin-top: 50px;
}
nav ul{
    display: flex;
    margin-right: 32px;
}
nav ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    margin-right: 40px;
}
nav ul li a:visited{
    color: black;
}
.cine-pro{
    font-size: 20px;
    font-weight: 800;
    margin-right: 200px;
    margin-left: 40px;
    padding-left: 40px;
}
.menubar{
    margin-left: 850px;
    padding-left: 30px;
}
/* this is for section 1 part 2 */
.s1-part2{
    display: flex;
    margin-top: 90px;
    margin-left: 120px;
}
.s1-left{
    margin-right: 870px;
}
.s1-right{
    margin: 0px;
}
#img-cover{
    transition: transform .2s;
    width: 400px;
    height: 400px;
}
#img-cover:hover{
    transform: scale(1.2);
}
h1{
    margin: 0px;
}
#onep{
    margin-top: 40px;
}
.s1-para{
    margin: 0px;
}
#prebooking{
    font-size: 15px;
    color: white;
}
#prebooking:hover{
    color: purple;
}
.pb-btn{
   border: none;
   background-color: purple;
   padding: 15px;
}
.pb-btn:hover{
    background-color: white;
    color: purple;
    border: 2px solid purple;
}
/* section 2 */
.logo-sec{
    /* margin: 0px 100px; */
}
.logos{
    margin-right: -5px;
    margin-left: 90px;
}
/* section 3 */
.sec3{
    margin: 10px 100px;
    background-color: rgba(90, 69, 90, 0.03);
}
h2{
    text-align: center;
    margin-top: -10px;
    padding-top: 60px;
    padding-bottom: 30px;
}
#s3-main-div{
    display: flex;
}
/* star rating starts */
.checked {
    color: orange;
  }
  .fa-star-half-o{
    color: orange;
  }
  /* star rating ends */
  .img-sec3{
    margin: 5px 90px 10px 140px;
    padding: 10px;
  }

